export(rgf.create,rgf.read,rgf.summary,rgf.when,rgf.plot,rgf.summarize)
export(petHgsm,batchPetHgsm)
export(solarRad,solarRad12M)
export(rueObsMe,rueObsEx,aiObsMe,aiObsEx)
export(regStepRaster)
export(rasterStack)
export(assessment,monitoring)
export(editr2dRfile,readr2dRfile,r2dRplot,showInfo,summarize)
